[tool.black]
line-length = 120
target-version = ["py310"]
skip-string-normalization = true

[tool.flake8]
max-line-length = 120
extend-ignore = [
    "E501",
    "W503",
    "E302",
    "W391",
    "W293",
]
exclude = [
    ".git",
    "__pycache__",
    ".venv",
    ".mypy_cache",
    ".pytest_cache",
]

[tool.mypy]
python_version = "3.10"
ignore_missing_imports = true
warn_unused_ignores = false
warn_return_any = false
warn_no_return = false
disallow_untyped_defs = false
disallow_incomplete_defs = false
